In [1]:
import pandas as pd

In [2]:
pe = pd.read_csv('UK PEBand - UKPE.csv')
cum = pd.read_csv('UK PEBand - backtestReturn.csv')
to_csv = "UKmean.csv"

In [3]:
pe.date = pd.to_datetime(pe.date)

In [4]:
cum.RnY = pd.to_datetime(cum.RnY)

In [5]:
print(pe['date'].dt.tz)
print(cum['RnY'].dt.tz)

None
UTC

In [6]:
pe.date = pe.date.dt.tz_localize('UTC')

In [7]:
cum['date'] = cum.RnY

In [8]:
pe.set_index('date', inplace=True)
cum.set_index('date', inplace=True)

In [9]:
cum

,UK,ret,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,UK.1,ret.1,Unnamed: 8,Unnamed: 9,...,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75
date,,,,,,,,,,,,,,,,,,,,,
2013-01-03 00:00:00+00:00,2010-01-01T00:00:00.000Z,29.21%,NaN,NaN,NaN,NaN,2011-01-03T00:00:00.000Z,-2.48%,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26h
2013-01-04 00:00:00+00:00,2010-01-04T00:00:00.000Z,33.11%,NaN,NaN,NaN,NaN,2011-01-04T00:00:00.000Z,-2.97%,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24h
2013-01-07 00:00:00+00:00,2010-01-05T00:00:00.000Z,33.67%,NaN,NaN,NaN,NaN,2011-01-05T00:00:00.000Z,-2.77%,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-08 00:00:00+00:00,2010-01-06T00:00:00.000Z,33.46%,NaN,NaN,NaN,NaN,2011-01-06T00:00:00.000Z,-1.08%,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-09 00:00:00+00:00,2010-01-07T00:00:00.000Z,31.18%,NaN,NaN,NaN,NaN,2011-01-07T00:00:00.000Z,0.24%,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24h
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-26 00:00:00+00:00,2019-12-24T00:00:00.000Z,5.23%,NaN,NaN,NaN,NaN,2020-12-23T00:00:00.000Z,31.45%,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-27 00:00:00+00:00,2019-12-25T00:00:00.000Z,14.37%,NaN,NaN,NaN,NaN,2020-12-24T00:00:00.000Z,24.31%,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-28 00:00:00+00:00,2019-12-26T00:00:00.000Z,14.48%,NaN,NaN,NaN,NaN,2020-12-25T00:00:00.000Z,23.62%,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-29 00:00:00+00:00,2019-12-27T00:00:00.000Z,6.16%,NaN,NaN,NaN,NaN,2020-12-28T00:00:00.000Z,23.37%,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-30 00:00:00+00:00,2019-12-30T00:00:00.000Z,4.74%,NaN,NaN,NaN,NaN,2020-12-29T00:00:00.000Z,27.00%,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
pe

,0_10,10_20,20_30,30_40,40_50,50_60,60_70,70_80,80_90,90+,...,Unnamed: 24,5% lowerband,95% upperband,capratio,newratio_clean,10ymean_roll.1,Unnamed: 30,capratio.1,newratio_clean.1,10ymean_roll.2
date,,,,,,,,,,,,,,,,,,,,,
2003-01-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.83,4.0,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
2003-01-02 00:00:00+00:00,21.0,12.0,3.0,3.0,1.0,1.0,1.0,3.0,1.0,2.0,...,NaN,0.83,4.0,4.04,4.04,NaN,NaN,NaN,NaN,NaN
2003-01-03 00:00:00+00:00,17.0,18.0,4.0,3.0,NaN,1.0,1.0,3.0,2.0,1.0,...,NaN,0.83,4.0,4.04,4.04,NaN,NaN,NaN,NaN,NaN
2003-01-04 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.83,4.0,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
2003-01-05 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.83,4.0,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-27 00:00:00+00:00,5.0,8.0,4.0,8.0,4.0,7.0,8.0,3.0,2.0,1.0,...,NaN,0.83,4.0,1.38,1.38,1.328,NaN,1.38,1.38,1.807
2023-12-28 00:00:00+00:00,5.0,8.0,4.0,8.0,5.0,8.0,6.0,2.0,3.0,1.0,...,NaN,0.83,4.0,1.50,1.50,1.328,NaN,1.50,1.50,1.807
2023-12-29 00:00:00+00:00,6.0,6.0,5.0,8.0,4.0,9.0,6.0,2.0,2.0,2.0,...,NaN,0.83,4.0,1.38,1.38,1.328,NaN,1.38,1.38,1.806
2023-12-30 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.83,4.0,#DIV/0!,NaN,1.328,NaN,#DIV/0!,NaN,1.806
2023-12-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.83,4.0,#DIV/0!,NaN,1.328,NaN,#DIV/0!,NaN,1.806

In [11]:
merge = pe.merge(cum, left_index=True, right_index=True)

In [12]:
merge.columns

Index(['0_10', '10_20', '20_30', '30_40', '40_50', '50_60', '60_70', '70_80',
       '80_90', '90+',
       ...
       'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69',
       'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73',
       'Unnamed: 74', 'Unnamed: 75'],
      dtype='object', length=109)

In [13]:
merge.to_csv(to_csv)

In [14]:
# from itertools import product

# # Define the two lists
# list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# list2 = [-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

# # Generate all combinations
# combinations = [[x, y] for x, y in product(list1, list2)]

# combinations